html, body {
    padding: 0px;
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#main-iframe {
    height: calc(100% - 0px);
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.page-tabs {
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 9999;
    width: 100%;
    text-align: center;
}
.page-tabs-box{
    width: 200px;
    left: calc(50% - 100px);
    position: fixed;
}
.page-tabs-item {
    font-size: 12px;
    height: 36px;
    display: inline-block;
    width: 50px;
    line-height: 36px;
    margin: 0 4px;
    cursor: pointer;
    opacity: 1;
}
.page-tabs-item:hover{
    opacity: 1;
    font-weight: 600;
}
.active_tabs_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #fff;
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    list-style: none;
    border-radius: 10px;
    opacity: 0.7;
}
